.complex-sliders {
  height: 95vh;
}
.complex-slider {
  display: flex;
  &__left {
    flex: 0 0 60%;
  }
  &__number-area {
    position: relative;
    font-size: 30rem;
  }
  &__numbers {
    opacity: 0.8;
  }
  &__number {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    &-clone--1 {
      color: $color-primary;
      animation-name: moveToRightBottom;
      animation-duration: 0.4s;
      animation-delay: 0.1s;
    }
    &-clone--2 {
      color: $color-secondary;
      animation-name: moveToBottom;
      animation-duration: 0.4s;
      animation-delay: 0.1s;
    }
  }
  &__image-box {
    height: 40vh;
    width: 40vw;
    position: relative;
    background-image: url(../../img/icons/slider/plane-laptop-screen.svg);
    background-size: cover;
    background-position: center;
  }
  &__laptop {
    width: 100%;
    z-index: 1;
  }
  &__images {
    position: absolute;
    height: 192rem;
    top: 22%;
    left: 13%;
  }
  &__image-container {
    height: 32rem;
    width: 100%;
    overflow: hidden !important;
  }

  &__img {
    width: 87%;
    height: 32rem;
    display: inline-block;
  }
  &__right {
    flex: 1;
  }
}
