.complex-sliders {
  height: 95vh;
}
.complex-slider {
  display: flex;
  &__left {
    flex: 0 0 60%;
  }
  &__number-area {
    position: relative;
    font-size: 30rem;
  }
  &__numbers {
    opacity: 0.8;
    z-index: -10;
  }
  &__number {
    position: absolute;
    top: -5%;
    left: -7%;

    &-clone--1 {
      color: $color-primary;
      animation-name: moveToRightBottom;
      animation-duration: 0.4s;
      font-weight: 700;
    }
    &-clone--2 {
      color: $color-secondary;
      animation-name: moveToBottom;
      animation-duration: 0.4s;
      font-weight: 700;
    }
  }
  // image
  &__img-box {
    background-image: url("../../img/icons/slider/plane-laptop-screen.svg");
    background-size: cover;
    background-position: center;

    height: 50rem;
    width: 100%;
    position: relative;
    margin-top: 18%;
    height: 39rem;
    overflow: hidden;
  }
  &__images {
    width: 74.2%;
    height: 228rem;
    position: absolute;
    top: 6.5%;
    left: 13.5%;
    transition: transform 0.4s ease-in-out;
  }
  &__img {
    height: 31.3rem;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    margin-bottom: 5rem;
  }
  &__controls {
    div {
      position: relative;
      display: inline-block;
      transition: transform 0.4s ease-in-out;
      &:not(:first-child) {
        margin-left: 3rem;
      }
    }
  }
  &__control {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: lighten($color-primary, 0.15);
    border-radius: 50%;
    &.active {
      background-color: blueviolet;
    }

    &--clone {
      position: absolute;
      top: 3px;
      left: 0;
      background-color: green !important;
      transition: transform 0.4s ease-in-out;
    }
  }
  &__right {
    flex: 1;
  }
}
